.App-link {
  color: #61dafb;
}
.App {
    display: flex;
    justify-content: flex-start;
}

#buttons, #images{
    width: 50%;
    padding: 10px;
}

#buttons{
    background-color: #333;
}
#images{
    background-color: #444;
}

